/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

/* fonte family */
.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* fonte family slut*/

* {
  background-color: #f3f2f0;
  color: #333;
}

.center {
  text-align: center; /* Centrerer alt indhold horisontalt */
  align-items: center;
}

main {
  max-width: 1200px; /* Max bredde på main */
  margin: 0 auto; /* Centrerer main horisontalt */
  padding: 20px; /* Lidt padding for indholdet */
  box-sizing: border-box; /* Inkluderer padding i bredden */
}
h1 {
  padding-bottom: 20px;
}
/* menu */

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: end;
}

.menu a {
  /* a tags referer til alle <a> tags inde i menu */
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  color: #700d1c;
}

/*  placering af elemnterne i menu delien (både burger og menu) til venstre */
nav {
  display: flex;
  justify-content: space-between; /* Placerer elementerne (menu og burger) på hver sin side */
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

/* styling af hvor bred og høj burger menuen er */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

/* de 3 linjer i burgermenuen */
.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
/* de 3 linjer i burger menuen slut */

.burger {
  display: none;
}
/* menu slut */

/* burger menu og media query */

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }

  /* styling for det der danner krydset når man trykker på burgermenuen */
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  /* slut på styling af burgermneu der danner et kryds ved aktiv */

  /* når man trykker på menuen og den åbner sig med hjem, projekter og om mig */
  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  /* styling for teksten i burger menuen */
  nav.active .menu li {
    margin: 10px 30px;
  }

  /* størrelsen på teksten i burger menuen */
  nav.active .menu a {
    font-size: 18px;
  }
}

/* burger menu slut */

/* forside styling */

.forside_img_container {
  display: flex; /* Brug Flexbox for centrering */
  justify-content: center; /* Centrerer billedet horisontalt */
  align-items: center; /* Centrerer billedet vertikalt */
  padding: 9px;
}

/* tekst styling forside */
.velkommen {
  font-style: italic;
  font-size: 5cqw;
}

.portfolio {
  font-size: 13cqw;
}

.cathrine_singer {
  font-size: 2.4cqw;
  font-style: italic;
}

.multimediedesign_studerende {
  font-size: 1.8cqw;
  font-style: italic;
}

.kontakt_mig {
  font-weight: 600;
}

/* forside styling slut */

/* projekt siden 2 */

.mappe_oversigt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  justify-content: space-between; /* Sørger for, at mapperne fylder hele linjen */
}

.mappe {
  width: 200px; /* Giver mapperne en fast bredde på 200px */
  box-sizing: border-box; /* Inkluderer padding og border i bredden */
  display: flex; /* Brug Flexbox for at arrangere indholdet */
  flex-direction: column; /* Stabler indholdet vertikalt */
  align-items: center; /* Centrerer indholdet horisontalt */
  text-align: center; /* Centrerer teksten */
}

.mappe_p {
  margin-top: 10px; /* Lidt afstand mellem billede og tekst */
}

.transparent {
  color: transparent;
}

/* projektsiden 2 slut */

/* generel footer */

/*ikoner indstillinger for billederne */
.ikon {
  height: 20px;
  width: auto;
  display: flex;
}

.footer_ikoner {
  display: flex;
  justify-content: space-between;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1cqw;
}

footer {
  margin: 10cqw 10cqw 0 10cqw;
}

/* footer slut */
