/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

/* fonte family */
.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

/* fonte family slut*/

/* generel styling */
* {
  background-color: #f3f2f0;
  color: #333;
}

main {
  max-width: 1200px; /* Max bredde på main */
  margin: 0 auto; /* Centrerer main horisontalt */
  padding: 20px; /* Lidt padding for indholdet */
  box-sizing: border-box; /* Inkluderer padding i bredden */
}
h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Tinos", serif;
  font-style: italic;
}
h2 {
  padding-bottom: 15px;
  font-family: "Tinos", serif;
  font-style: italic;
}
h3 {
  padding-bottom: 10px;
}
.p_space {
  padding-bottom: 9px;
}
.p_space_end {
  padding-bottom: 20px;
}

.button-link {
  display: inline-block;
  background-color: #b1c2e9;
  border-radius: 15px;
  padding: 15px;
  text-decoration-line: none;
  color: #333;
}
.button-link:hover {
  background-color: #700d1c;
  color: #f3f2f0;
}

/* burger menu strat */
.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
}
/* burger menu slut */

/* generel styling slut */

/* forside styling */
.center {
  text-align: center; /* Centrerer alt indhold horisontalt */
  align-items: center;
}
.forside_img {
  height: 60cqw;
  width: auto;
}
.forside_img_container {
  display: flex; /* Brug Flexbox for centrering */
  justify-content: center; /* Centrerer billedet horisontalt */
  align-items: center; /* Centrerer billedet vertikalt */
  padding: 7px;
}

/* tekst styling forside */
.velkommen {
  font-family: "Tinos", serif;
  font-style: italic;
  font-size: 5cqw;
  line-height: 0.3;
  padding-top: 25px;
}

.portfolio {
  font-size: 20cqw;
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}

.cathrine_singer {
  font-size: 4.9cqw;
  font-style: italic;
  font-family: "Tinos", serif;
}

.multimediedesign_studerende {
  font-size: 2.9cqw;
  font-style: italic;
  font-family: "Tinos", serif;
}

.kontakt_mig {
  font-weight: 600;
}

/* forside styling slut */

/* projekt siden 2 */

.mappe_oversigt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  justify-content: space-between; /* Sørger for, at mapperne fylder hele linjen */
}

.mappe {
  width: 200px; /* Giver mapperne en fast bredde på 200px */
  box-sizing: border-box; /* Inkluderer padding og border i bredden */
  display: flex; /* Brug Flexbox for at arrangere indholdet */
  flex-direction: column; /* Stabler indholdet vertikalt */
  align-items: center; /* Centrerer indholdet horisontalt */
  text-align: center; /* Centrerer teksten */
  padding: 10px;
}

.mappe_p {
  margin-top: 10px; /* Lidt afstand mellem billede og tekst */
}

.transparent {
  color: transparent;
}

grid_1-1-1-1 {
  display: none;
}

/* projektsiden 2 slut */

/* side 3 om mig mobil */

.rundt_img_container {
  display: flex; /* Brug Flexbox for centrering */
  justify-content: center; /* Centrerer billedet horisontalt */
  align-items: center; /* Centrerer billedet vertikalt */
  padding-bottom: 30px;
}
.rundt_img {
  width: 70%;
  height: auto;
  max-width: 400px;
}
.multimediedesign_h3 {
  font-style: italic;
  font-weight: 300;
}
.multimediedesign_h3 {
  padding-top: 10px;
}

.grid_2-3 {
  padding-top: 15px;
}
/* generel footer */
footer {
  font-size: 12px;
}
.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.kontakt_mig {
  padding-bottom: 8px;
}
.spørgsmål {
  padding-bottom: 4px;
  grid-column: 1 / span 3;
}
.mail_kontakt {
  grid-column: 1;
}
.footer_ikoner {
  grid-column: 5;
  padding-bottom: 30px;
}

/*ikoner indstillinger for billederne */
.ikon {
  height: 20px;
  width: auto;
  display: flex;
}

.footer_ikoner {
  display: flex;
  justify-content: space-between;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1cqw;
}

footer {
  margin: 10cqw 10cqw 0 10cqw;
}

/* footer slut */

/* media query for desktop*/
@media screen and (min-width: 800px) {
  /* generelt */
  h1 {
    padding-top: 50px;
  }

  /* generelt slut */

  /* menu for desktop start */

  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: #ff0000;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }

  /* menu for desktop slut */

  /* tekst styling forside */
  .forside_img {
    height: 40cqw;
    width: auto;
  }
  .velkommen {
    font-family: "Tinos", serif;
    font-style: italic;
    font-size: 3cqw;
    line-height: 0.1;
  }

  .portfolio {
    font-size: 13cqw;
    font-family: "Tinos", serif;
    font-weight: 700;
    line-height: 1;
    font-style: italic;
  }

  .cathrine_singer {
    font-size: 2.9cqw;
    font-style: italic;
    font-family: "Tinos", serif;
  }

  .multimediedesign_studerende {
    font-size: 2.2cqw;
    font-style: italic;
    font-family: "Tinos", serif;
  }
  /* tekst styling forside slut */

  /* side 2 projekt */
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* side 2 projekter slut */

  /* side 3 om mig start */
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .rundt_img_container {
    grid-column: 1 / 3;
  }
  .tekst_om_mig {
    grid-column: 3 / 6;
  }
  .cathrine_h2 {
    font-size: 2.3cqw;
  }
  .multimediedesign_h3 {
    font-size: 1.7cqw;
    font-style: italic;
    font-weight: 300;
  }
  .p_1 {
    font-size: 1.2cqw;
  }
  .p_2 {
    font-size: 1.2cqw;
  }
  .p_3 {
    font-size: 1.2cqw;
  }

  /* tema 2 grundlæggende web side */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-self: strech;
  }
  .img_i_grid {
    order: -1;
    width: 400px;
    height: auto;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-self: strech;
  }
  .tema2_img1 {
    width: 400px;
    height: auto;
    justify-self: center;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
  }

  /* tema 3 grundlæggende ux/ui */
}
